<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd 
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd 
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<bean id="BaseDao" class="org.springframework.orm.hibernate3.BaseDaoImpl" abstract="true">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	
	<bean id="UserDao" class="com.jimueshop.admin.dao.impl.UserDaoImpl" parent="BaseDao" />
	
	<bean id="OrderItemDao" class="com.jimueshop.admin.dao.impl.OrderItemDaoImpl" parent="BaseDao" />
	
	<bean id="SuperTypeDao" class="com.jimueshop.admin.dao.impl.SuperTypeDaoImpl" parent="BaseDao" />
	
	<bean id="SubTypeDao" class="com.jimueshop.admin.dao.impl.SubTypeDaoImpl" parent="BaseDao" />
	
	<bean id="AttrDao" class="com.jimueshop.admin.dao.impl.AttrDaoImpl" parent="BaseDao" />
	
	<bean id="AttrItemDao" class="com.jimueshop.admin.dao.impl.AttrItemDaoImpl" parent="BaseDao" />
	
	
	<bean id="ProductDao" class="com.jimueshop.admin.dao.impl.ProductDaoImpl" parent="BaseDao" />
	
	<bean id="AdDao" class="com.jimueshop.admin.dao.impl.AdDaoImpl" parent="BaseDao" />
	
	<bean id="CommentDao" class="com.jimueshop.admin.dao.impl.CommentDaoImpl" parent="BaseDao" />
	
</beans>