<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd 
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd 
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<bean id="UserService" class="com.jimueshop.admin.service.impl.UserServiceImpl" >
		<property name="userDao" ref="UserDao" />
	</bean>
	
	<bean id="OrderItemService" class="com.jimueshop.admin.service.impl.OrderItemServiceImpl" >
		<property name="orderItemDao" ref="OrderItemDao" />
	</bean>
	
	<bean id="SuperTypeService" class="com.jimueshop.admin.service.impl.SuperTypeServiceImpl" >
		<property name="superTypeDao" ref="SuperTypeDao" />
	</bean>
	
	<bean id="SubTypeService" class="com.jimueshop.admin.service.impl.SubTypeServiceImpl" >
		<property name="subTypeDao" ref="SubTypeDao" />
		<property name="superTypeDao" ref="SuperTypeDao" />
	</bean>
	
	<bean id="AttrService" class="com.jimueshop.admin.service.impl.AttrServiceImpl" >
		<property name="subTypeDao" ref="SubTypeDao" />
		<property name="attrDao" ref="AttrDao" />
	</bean>
	
	<bean id="AttrItemService" class="com.jimueshop.admin.service.impl.AttrItemServiceImpl" >
		<property name="attrItemDao" ref="AttrItemDao" />
		<property name="attrDao" ref="AttrDao" />
	</bean>
	
	<bean id="ProductService" class="com.jimueshop.admin.service.impl.ProductServiceImpl" >
		<property name="productDao" ref="ProductDao" />
	</bean>
	
</beans>